<md-content layout-padding ng-controller="wdsession">
  <div><b>WD Session ID: {{::getSessionId()}}</b></div>
  <div layout="row">
    <div layout="column">
      <span>Refresh Interval: (Fast - Slow)</span>
      <md-slider md-discrete ng-model="refreshRate" step="1" min="1" max="30" aria-label="rating">
      </md-slider>
      <div layout="row">
        <md-button class="md-primary md-raised" ng-click="refreshScreen()">Refresh Now</md-button>
        <md-button class="md-warn md-raised" ng-click="refreshScreen()">Terminate</md-button>
      </div>
      <canvas></canvas>
      <md-button class="md-raised md-primary" ng-click="wdBack()">Back</md-button>
    </div>
  </div>
</md-content>
